*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1500px;
}

.header {
  background-color: #1f232c;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
.navbar-header {
  display: flex;
  align-items: center;
}

.top-menu-logo
{
  float:left;
  padding-right: 12.7%;
  padding-left: 2%;
  color:white;
  font-size: 30px;
  margin-bottom: 11px;
}

.search-box
{
  width: 33%;
  height: 66%;
  position: relative;
  background: #31343d;
  border-radius: 5px;
  padding:0;
}
.search-btn
{
  color: #707279;
  float:right;
  width:40px;
  height:40px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.search-txt
{
  border:none;
  background: none;
  outline:none;
  float:left;
  padding:0;
  color:black;
  font-size:16px;
  transition:0.4s;
  line-height:40px ;
  width: 80%;
}
.bi-bell-fill,#env-top-menu
{
  color:#c3c3c3;
}

.top-menu-bell
{
  padding-left: 1.8%;
  position: relative;
}
.bi-bell-fill
{
  font-size: 22px;
}
.notification-badge-bell {
  position: absolute;
  top: 0;
  right:-3px;
  background-color: #e52435;
  color: white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  padding:0;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
}
.top-menu-mail
{
  padding-left: 1.8%;
  position: relative;
}
#env-top-menu
{
  font-size: 25px;
}
.notification-badge-mail {
  position: absolute;
  top: 0;
  right:-4px;
  width: 13px;
  height: 13px;
  background-color:#f6bb42;
  color: white;
  border-radius: 50%;
  padding:0;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
}

.top-menu-avatar {
  margin-left: auto;
  padding-right: 2.3%;

}
.top-menu-avatar a {
  display: flex;
  align-items: center;
  color:#afb5c2;
}

.avatar-text
{
  margin: 0;
  padding-right: 15px;
  padding-left: 10px;
  font-size: 18px;
  text-decoration: none;
}
.bi-person-circle {
  font-size: 34px;
}




.menu
{
  width: 322px;
  height: 1500px;
  background-color:#232730;
  margin-top: 55px;
  position: absolute;
  left: 0;
  z-index: 1;
}
.menu-item
{
  padding-top: 20px;
  padding-left: 20px;

}
.menu-Dashboard
{
  padding-top: 34px;
  padding-left: 20px;

}
.menu-CollapseMenu
{
  padding-top: 60px;
  padding-left: 20px;

}
.menu-name{
  padding-top:7px ;
  padding-left: 22px;
  position: absolute;
  color: #808690;
  text-decoration: none;
  font-weight:bold;
}
.left-menu-imagine{
  padding-left:11px ;
  width: 35px;
  height: 20px;
}
.right-shape{
  position: absolute;
  float: right;

}

.bi-chevron-right
{
  color:#a3aab4;
  float:right;
  padding-right:53px;
  padding-top: 7px;
}
.bi-caret-left-square-fill
{
  color:white;
  width: 100px;
}
i.bi-speedometer2,.bi-diagram-3-fill,.bi-text-left,.bi-chat-left-fill,#setting-menu,.bi-star-fill,.bi-link-45deg,.bi-share-fill,#env-left-menu,.bi-trophy-fill,.bi-power,.bi-caret-left-square-fill
{
  color:#a3aab4;
  font-size: 24px;
}
#menu-comment
{
  position:relative;
}
.notification-badge-comment {
  position: absolute;
  top: 30px;
  right:90px;
  width: 20px;
  height: 19px;
  background-color:#c96d23;
  color: white;
  border-radius: 35%;
  padding:0;
  font-size: 19px;
  text-align: center;
  line-height: 19px;
}








.main-container{
  padding:88px 31px;
  background: #f6f6f6;
  width: calc(100% - 322px);
  height: 2000px;
  margin-left:322px;

}

.twitter-box,.sales-box,.visitors-box,.message-box
{
  position: relative;
  display: flex;
  width: 22%;
  height: 130px;
  background-color:white;
}


.twitter-top-box,.dollar-top-box,.person-top-box,.message-top-box
{
  position: relative;
  color:#f4f4f5;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  font-size: 30px;
  bottom:13px;
}
.twitter-top-box
{
  background: #66b7f0;
}

.dollar-top-box
{
  background: #a5c562;
}

.person-top-box
{
  background: #ff503f;
}

.message-top-box
{
  background: #f5bb42;
}

.circle-twitter,.circle-sales,.circle-visitors,.circle-message
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  left: 22%;
  top: 51%;
  transform: translate(-50%, -50%);
}

.circle-twitter
{
  background: linear-gradient(60deg, #f5f5f5  65%, #d1e5f3 35%);
}
.circle-sales
{

  background: linear-gradient(60deg, #f5f5f5  65%, #e2ead1 35%);
}

.circle-visitors
{
  background: linear-gradient(60deg, #f5f5f5  65%, #f8d7d4 35%);
}
.circle-message
{
  background: linear-gradient(60deg, #f5f5f5  65%, #f6e7c8 35%);
}

.twitter-text,.sales-text,.visitors-text,.message-text
{
  padding-left: 30px;
  padding-top: 20px;
}

.twitter-number,.sales-number,.visitors-number,.message-number
{
  font-size: 25px;
  font-weight:bold;
  margin: 0;
}

.twitter-description,.sales-description,.visitors-description,.message-description{
  margin: 0;
  color: #979090
}

.bi-currency-dollar
{
  color:white;
}

.top-boxes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}





.middle-top-boxes
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 40px;
  width: 100%;
  height: 420px;

  .site-statistic
  {
    width: 61%;
    height: 100%;
    background: white;


    .site-statistic-header
    {
      width:100%;
      height: 48px;
      background: #fafafa;
      color: #a2a0a0;
      font-size: 22px;
      padding-left: 10px;
      padding-top: 5px;


      #setting-site-statistic
      {
        font-size: 25px;
      }
      .setting-site-statistic
      {
        display: flex;
        position: relative;
        justify-content: right;
        padding-right:30px ;
        bottom: 50px;
      }

    }

    .site-statistic-graph
    {
      width:100%;
      height:calc(100% - 48px);
      background: #8bc152;
    }
  }

  .yearly-statistic
  {
    position: relative;
    margin-left: 38px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;

    .sales-graph
    {
      background: #8bc152;
      color: #fafcf7;
      font-size: 20px;
      width: 100%;
      height: 42%;
      padding:13px;
    }
    .yearly-numbers
    {
      width: 100%;
      height: 58%;
      padding-left:20px ;
      padding-right:30px ;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 15px;


      .yearly-text
      {
        margin: 0;
        color:#bbbaba;
      }
      .statistic-line {
        background: #eae9e9;
        border-radius: 20px;
      }


      .yearly-sales
      {
        .yearly-sales-number
        {
          margin: 0;
          color:#f6bb42;
          font-size:20px ;
        }
        .sales-progress
        {
          height: 10px;
          width: 65%;
          background: #f7c055;
          border-radius: 20px;
        }
      }
      .yearly-visitor
      {
        .yearly-visitor-number
        {
          margin: 0;
          color:#8cc152;
          font-size:20px ;
        }
        .visitors-progress
        {
          height: 10px;
          width: 50%;
          background: #8cc152;
          border-radius: 20px;

        }
      }
      .yearly-customers
      {
        .yearly-customers-number
        {
          margin: 0;
          color:#73cba7;
          font-size:20px ;
        }
        .customers-progress
        {
          height: 10px;
          width: 85%;
          background: #73cba7;
          border-radius: 20px;
        }
      }
    }
  }
}

.middle-bottom-boxes
{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  height: 500px;

  .left-boxes
  {
    width: 61%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;


    .todo-list
    {
      width: 100%;
      height: 66.7%;
      background: #ffffff;
      font-size: 20px;


      .todo-list-header
      {
        display: flex;
        width: 100%;
        height: 55px;
        padding-left: 20px;
        background: #1fb5ab;
        color:white;
        align-items: center;

        .todo-list-text
        {
          width: 100%;
          margin: 0;
          font-size: 25px;
        }
        .plus{
          width: 30%;
          font-size: 35px;
          font-weight: bold;
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
        }
      }

      .todo-list-body
      {
        width: 100%;
        height: calc(100% - 55px);
        background: #ffffff;
        padding-right:20px;
        padding-left: 25px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


        .todo-list-tasks
        {
          width: 100%;
          height: 50px;
          background: #f6f6f6;
          border-radius: 5px;
          display: flex;
          align-items: center;



          .todo-list-tasks-text
          {
            width: 100%;
            margin: 0;
            color: #a7a2a2;
            padding-left: 10px;
            font-size: 15px;
          }

          .bi-three-dots-vertical
          {
            width: 5%;
            color: #cbc8c8;
          }

          .bi-check2
          {
            width: 5%;
            color: #d5d2d2;
            font-size: 30px;
            display: flex;
          }
          .bi-x
          {
            width: 5%;
            color: #d5d2d2;
            font-size: 27px;
          }
        }
      }
    }
    .check-strings
    {
      width: 100%;
      height: 24.7%;
      display: flex;
      justify-content: space-between;

      .check-strings-text
      {
        color:#bdb9b9;
        font-size: 14px;
      }
      .statistic-line-check-strings
      {
        height: 17px;
        width: 100%;
        background: #eaeaea;
        border-radius: 8px;
      }


      .hosting-usage
      {
        width: 45%;
        background: #ffffff;
        border-radius: 5px;
        padding: 15px 20px;

        .hosting-usage-number
        {
          color:#ff503f;
          font-size: 25px;
          font-weight: bold;
          margin: 0;
        }

        .hosting-progress
        {
          height: 100%;
          width: 57%;
          border-radius: 20px;
          background: #ff503f;
        }
      }

      .emails-read
      {
        width: 45%;
        background: #ffffff;
        border-radius: 5px;
        padding: 15px 20px;

        .emails-read-number
        {
          color:#fdce56;
          font-size: 25px;
          font-weight: bold;
          margin: 0;
        }

        .emails-progress
        {
          height: 100%;
          width: 57%;
          border-radius: 20px;
          background: #fdce56;
        }
      }
    }
  }
  .right-boxes
  {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .weather {
      width: 100%;
      height: 25.6%;
      background: #3bafda;
      border-radius: 7px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-right: 40px;
      padding-left:10px ;


      .sun {
        color:#f5f5f5;
        font-size: 80px;
      }

      .temperature {
        display: flex;
        flex-direction: row;

        .temperature-number {
          color:#f5f5f5;
          font-size: 60px;
          margin-top: 15px;
        }

        .circle {
          position: relative;
          display: flex;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          border-width: 3.5px;
          border-style: solid;
          border-color: #f5f5f5;
          margin-top: 35px;
        }
      }
      .weather-geolocation
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:10px ;

        .geolocation
        {
          display: flex;
          flex-direction: row;
          color:#f5f5f5;

          .city
          {
            margin-bottom: 0;
            font-weight: bold;
            margin-right: 8px;
          }

          .bi-geo-alt-fill
          {
            margin: 0;
          }
      }

        .weather-description
        {
          color: #f5f5f5;
          font-weight: bold;
        }
      }
    }



    .calendar
    {
      width: 100%;
      height: 66.4%;
      background: #ffffff;
      border-radius: 7px;

      .calendar-header
      {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 20%;
        background: #fbfbfb;
        border-radius: 7px;
        padding: 0 30px;

        #calendar-right-chevron
        {
          color: #7c95be;
          font-size: 30px;
          padding: 0;
        }
        .bi-chevron-left
        {
          color: #7c95be;
          font-size: 30px;
        }

        .today-data
        {
          margin: 0;
          color: #7c95be;
          font-size: 25px;
          font-weight: bold;
        }
      }
      .calendar-body
      {
        padding: 10px 20px 0 10px;

      }

      .calendar-body ul
      {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        color: #7c95be;
      }
      .calendar-body ul li
      {
        width: calc(100% / 7);
        color: #7c95be;
        font-weight: 500;
        font-size: 17px;
      }

      .calendar-body .weeks li
      {
        font-weight: 700;
      }

      .events p
      {
        color:#7c95be
      }

      .events
      {
        padding: 0 20px 0 40px;
        display: flex;
        flex-direction: column;


        .first-event, .second-event
        {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .event-time
          {
            display: flex;
            justify-content: center;
            height: 25px;
            width: 60px;
            background: #7c95be;
            border-radius:20px;
            color: #ffffff;
          }
        }
      }
    }
  }
}


