*{
  margin:0;
  padding:0;
  border:none;
  box-sizing:border-box;
}

body{
background: aqua;
}

.header{
  background-color:#1f232c;
  padding: 0;
}

.search-box
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  background: aquamarine;
  border-radius: 40px;
  padding:10px;
}
.search-btn
{
  color: bisque;
  float:right;
  width:40px;
  height:40px;
  border-radius:50%;
  background: blueviolet;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration: none;
}
.search-txt
{
  border:none;
  background: none;
  outline:none;
  float:left;
  padding:0;
  color:white;
  font-size:16px;
  transition:0.4s;
  line-height:40px ;
  width: 240px;

}




.menu
{
  width: 322px;
  height: 1300px;
  background-color:#31343d;
}
.menu-item
{
  padding-top: 20px;
  padding-left: 20px;
}
.menu-Dashboard
{
  padding-top: 34px;
  padding-left: 20px;

}
.menu-CollapseMenu
{
  padding-top: 60px;
  padding-left: 20px;

}
.menu-name{
  margin-top: 300px;
  color: white;
  text-decoration: none;
}
.left-menu-imagine{
  padding-left:11px ;
  width: 35px;
  height: 20px;
}
.right-shape{
  float: right;

  padding-right:53px;
}

.bi-chevron-right
{
  color:white;
  float:right;
  padding-right:53px;
}
.bi-caret-left-square-fill
{
  color:white;
  width: 100px;
}
i.bi-speedometer2 {
  color:#ffffff;
  font-size: 24px;
}