$maxWidth:1600;
@mixin adaptiv-value($property,$startSize,$minSize)
{
  $addSize: $startSize - $minSize;
  #{$property}:calc(#{$minSize + px} + #{$addSize} * ((100vw - 1024px) / #{$maxWidth - 1024}));

}


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display: flex;
  flex-direction: row;
  @include adaptiv-value("height",1565 ,1250 );
  width: 100%;
}

.header {
  background-color: #1f232c;
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;

}
.navbar-header {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.top-menu-logo
{
  float:left;
  padding-right: 12.7%;
  padding-left: 2%;
  color:white;
  @include adaptiv-value("font-size", 30, 23);
}

.search-box
{
  width: 33%;
  @include adaptiv-value("height", 40, 35);
  position: relative;
  background: #31343d;
  border-radius: 5px;
  padding:0;
}
.search-btn
{
  color: #707279;
  float:right;
  width:40px;
  height:40px;
  display:flex;
  @include adaptiv-value("font-size", 23, 18);
  justify-content:center;
  align-items:center;
}
.search-btn:hover
{
  @include adaptiv-value("font-size", 27, 21);

}

.search-txt
{
  border:none;
  background: none;
  outline:none;
  float:left;
  color:white;
  font-size:16px;
  transition:0.4s;
  line-height:40px ;
  width: 80%;
  padding-left: 10px;

}
.bi-bell-fill,#env-top-menu
{
  color:#c3c3c3;
}

.top-menu-bell
{
  padding-left: 1.8%;
  position: relative;
}
.bi-bell-fill
{
  @include adaptiv-value("font-size", 24, 20)
}
.bi-bell-fill:hover
{
  @include adaptiv-value("font-size", 27, 23)

}


.notification-badge-bell {
  position: absolute;
  top: 0;
  right:-3%;
  background-color: #e52435;
  color: white;
  @include adaptiv-value("width", 13, 11);
  @include adaptiv-value("height", 13, 11);
  border-radius: 50%;
  padding:0;
  @include adaptiv-value("font-size", 13, 11);
  text-align:center;
  @include adaptiv-value("line-height", 13, 11);

}
.top-menu-mail
{
  padding-left: 1.8%;
  position: relative;
}
#env-top-menu
{
  @include adaptiv-value("font-size", 25, 21);
}

#env-top-menu:hover
{
  @include adaptiv-value("font-size", 29, 24)

}
.notification-badge-mail {
  position: absolute;
  top: 0;
  right:-4px;
  @include adaptiv-value("width", 13, 11);
  @include adaptiv-value("height", 13, 11);
  background-color:#f6bb42;
  color: white;
  border-radius: 50%;
  padding:0;
  @include adaptiv-value("font-size", 13, 11);
  text-align: center;
  @include adaptiv-value("line-height", 13, 11);
}

.top-menu-avatar {
  margin-left: auto;
  padding-right: 2.3%;
}

.top-menu-avatar a {
  display: flex;
  align-items: center;
  color:#afb5c2;
}

.avatar-text
{
  margin: 0;
  @include adaptiv-value("padding-right", 15, 10);
  @include adaptiv-value("padding-left", 10, 7);
  @include adaptiv-value("font-size", 18, 15);

}
.bi-person-circle {
  @include adaptiv-value("font-size", 40, 33);
}

.bi-chevron-down
{
  font-size: 18px;
}
.bi-chevron-down:hover
{
  font-size: 20px;
}

.menu
{
  @include adaptiv-value("height",1620 ,1295 );
  background-color:#232730;
  width: 23vw;

  .menu-content
  {
    padding-top: 30px;
    @include adaptiv-value("padding-left", 20, 5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    min-width: 260px;
    background-color:#232730;
    margin-top: 55px;
    z-index: 1;
    list-style: none;
  }
}


.menu-item
{
  padding-bottom: 7px;
  @include adaptiv-value("width",320 ,225 );
  display: flex;
  flex-direction: row;
}

.menu-item.collapsed
{
  width: 50px;
}

.menu-item.active
{
  background: #31343d;
  border-radius: 5px;
}

.menu-item:hover
{
  background: #31343d;
  padding-top: 2px;
  transition-duration: 0.2s;
}


#collapse-menu
{
  margin-top: 40px;
}

.menu.collapsed
{
  width: 6vw;
}

.menu-name{
  @include adaptiv-value("padding-left", 60, 40);
  position: absolute;
  color: #808690;
  text-decoration: none;
  font-weight:500;
  @include adaptiv-value("font-size", 20, 15);
  @include adaptiv-value("padding-top", 7, 4);
}



.bi-chevron-right
{
  color:#a3aab4;
  @include adaptiv-value("padding-top",9,6);
  @include adaptiv-value("padding-right",53,15);
  @include adaptiv-value("padding-left",240,150);
  @include adaptiv-value("font-size", 18, 15);
}


i.bi-speedometer2,.bi-diagram-3-fill,.bi-text-left,.bi-chat-left-fill,#setting-menu,.bi-star-fill,.bi-link-45deg,.bi-share-fill,#env-left-menu,.bi-trophy-fill,.bi-power,.bi-caret-left-square-fill,.bi-caret-right-square-fill
{
  color:#a3aab4;
  @include adaptiv-value("font-size", 27, 23);
  padding-left: 10px;
}

#put-out-menu
{
  width: 50px;
  margin-bottom:30px;
}

#menu-comment
{
  position:relative;
}
.notification-badge-comment {
  position: absolute;
  @include adaptiv-value("top", 12, 9);
  @include adaptiv-value("right", 90, 50);
  @include adaptiv-value("width", 20, 17);
  @include adaptiv-value("height", 19, 16);
  background-color:#c96d23;
  color: white;
  border-radius: 35%;
  padding:0;
  @include adaptiv-value("font-size", 19, 16);
  text-align: center;
  @include adaptiv-value("line-height", 20, 16);
}

.notification-badge-comment.collapsed
{
  @include adaptiv-value("top",-3 ,-3);
  @include adaptiv-value("right", 5, 5);
  @include adaptiv-value("width", 16, 17);
  @include adaptiv-value("height", 16, 16);
  @include adaptiv-value("font-size", 16, 16);
  @include adaptiv-value("line-height", 13, 16);
}




.main-container{
  @include adaptiv-value("margin-top",50,45 );
  @include adaptiv-value("padding",31 ,20 );
  background: #f6f6f6;
  width: 77vw;
  height: 100%
}
.main-container.expanded
{
  width: 92.93vw;
}

.twitter-box,.sales-box,.visitors-box,.message-box
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  @include adaptiv-value("height",125 ,90 );
  background-color:white;
  @include adaptiv-value("padding-right",30 ,20 );
  @include adaptiv-value("padding-left",10 ,7 );
}


.twitter-top-box,.dollar-top-box,.person-top-box,.message-top-box
{
  position: relative;
  color:#f4f4f5;
  @include adaptiv-value("width",60 ,50 );
  @include adaptiv-value("height",60 ,50 );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptiv-value("margin-top",26 ,22 );
  @include adaptiv-value("font-size",35 ,27 );
  @include adaptiv-value("bottom",13 ,11 );
}
.twitter-top-box
{
  background: #66b7f0;
}

.dollar-top-box
{
  background: #a5c562;
}

.person-top-box
{
  background: #ff503f;
}

.message-top-box
{
  background: #f5bb42;
}

.circle-twitter,.circle-sales,.circle-visitors,.circle-message
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptiv-value("width",72 ,60 );
  @include adaptiv-value("height",72 ,60 );
  min-width: 60px;
  border-radius: 50%;
}

.circle-twitter
{
  background: linear-gradient(60deg, #f5f5f5  65%, #d1e5f3 35%);
}
.circle-sales
{

  background: linear-gradient(60deg, #f5f5f5  65%, #e2ead1 35%);
}

.circle-visitors
{
  background: linear-gradient(60deg, #f5f5f5  65%, #f8d7d4 35%);
}
.circle-message
{
  background: linear-gradient(60deg, #f5f5f5  65%, #f6e7c8 35%);
}

.twitter-text,.sales-text,.visitors-text,.message-text
{
  padding-left: 10px;
}

.twitter-number,.sales-number,.visitors-number,.message-number
{
  @include adaptiv-value("font-size",24 ,18 );
  font-weight:bold;
  margin: 0;
}

.twitter-description,.sales-description,.visitors-description,.message-description{
  margin: 0;
  @include adaptiv-value("font-size",18 ,13 );
  color: #979090
}

.bi-currency-dollar
{
  color:white;
}

.top-boxes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}





.middle-top-boxes
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  @include adaptiv-value("margin-top",40 ,30 );
  width: 100%;
  @include adaptiv-value("height",420 ,350 );

  .site-statistic
  {
    width: 63%;
    height: 100%;
    background: white;


    .site-statistic-header
    {
      width:100%;
      height: 48px;
      @include adaptiv-value("height",48 ,40 );
      background: #fafafa;
      color: #a2a0a0;
      @include adaptiv-value("font-size",22 ,20 );
      padding-left: 10px;
      padding-top: 5px;


      #setting-site-statistic
      {
        @include adaptiv-value("font-size",25 ,21);
      }
      #setting-site-statistic:hover
      {
        @include adaptiv-value("font-size",28 ,22);
      }

      .setting-site-statistic
      {
        display: flex;
        position: relative;
        justify-content: right;
        @include adaptiv-value("padding-right",30 ,20 );
        bottom: 50px;
      }

    }

    .site-statistic-graph
    {
      width:100%;
      height: calc(100% - 40px);
      background: #ffffff;
      @include adaptiv-value("padding",20, 10 );
    }
  }

  .yearly-statistic
  {
    position: relative;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;

    .sales-graph
    {
      background: #8bc152;
      color: #fafcf7;
      @include adaptiv-value("font-size",20 ,18 );
      width: 100%;
      height: 42%;
      @include adaptiv-value("padding",10 ,12 );



      p {
        margin: 0;
      };

    }
    .yearly-numbers
    {
      width: 100%;
      height: 58%;
      @include adaptiv-value("padding-left",20 ,15 );
      @include adaptiv-value("padding-right",30 ,22 );
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @include adaptiv-value("padding-bottom",15 ,10 );


      .yearly-text
      {
        @include adaptiv-value("font-size",18 ,15 );
        margin: 0;
        color:#bbbaba;
      }
      .statistic-line {
        background: #eae9e9;
        border-radius: 20px;
      }


      .yearly-sales
      {
        .yearly-sales-number
        {
          margin: 0;
          color:#f6bb42;
          @include adaptiv-value("font-size",23 ,19 );
        }
        .sales-progress
        {
          height: 10px;
          width: 65%;
          background: #f7c055;
          border-radius: 20px;
        }
      }
      .yearly-visitor
      {
        .yearly-visitor-number
        {
          margin: 0;
          color:#8cc152;
          @include adaptiv-value("font-size",23 ,19 );
        }
        .visitors-progress
        {
          height: 10px;
          width: 50%;
          background: #8cc152;
          border-radius: 20px;

        }
      }
      .yearly-customers
      {
        .yearly-customers-number
        {
          margin: 0;
          color:#73cba7;
          @include adaptiv-value("font-size",23 ,19 );
        }
        .customers-progress
        {
          height: 10px;
          width: 85%;
          background: #73cba7;
          border-radius: 20px;
        }
      }
    }
  }
}



.middle-bottom-boxes
{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  @include adaptiv-value("height",500, 400 );

  .left-boxes
  {
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;


    .todo-list
    {
      width: 100%;
      height: 66.7%;
      background: #ffffff;


      .todo-list-header
      {
        display: flex;
        width: 100%;
        @include adaptiv-value("height", 55, 45 );

        padding-left: 20px;
        background: #1fb5ab;
        color:white;
        align-items: center;

        .todo-list-text
        {
          width: 100%;
          margin: 0;
          @include adaptiv-value("font-size", 25, 22 );
        }
        .plus{
          width: 30%;
          @include adaptiv-value("font-size", 35, 30 );
          font-weight: bold;
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
        }
        .plus:hover
        {
          @include adaptiv-value("font-size", 40, 34 );
          transition-duration: 0.2s;
        }

      }

      .todo-list-body
      {
        width: 100%;
        height: calc(100% - 55px);
        background: #ffffff;
        @include adaptiv-value("padding-right", 20, 15 );
        @include adaptiv-value("padding-left", 25, 18 );
        @include adaptiv-value("padding-top", 10, 7 );
        @include adaptiv-value("padding-bottom", 15, 10 );
        display: flex;
        flex-direction: column;

        overflow-y: auto;



        .todo-list-tasks
        {
          @include adaptiv-value("padding", 15, 10 );
          margin-bottom: 20px;
          width: 100%;
          @include adaptiv-value("height", 50, 40 );
          background: #f6f6f6;
          border-radius: 5px;
          display: flex;
          align-items: center;



          .todo-list-tasks-text
          {
            width: 100%;
            margin: 0;
            color: #a7a2a2;
            padding-left: 10px;
            @include adaptiv-value("font-size", 18, 15 );
          }

          .bi-three-dots-vertical
          {
            width: 5%;
            color: #cbc8c8;
            @include adaptiv-value("font-size", 25, 20 );

          }
          .bi-three-dots-vertical:hover
          {
            @include adaptiv-value("font-size", 28, 22 );
            transition-duration: 0.2s;

          }

          .bi-check2
          {
            width: 5%;
            color: #d5d2d2;
            @include adaptiv-value("font-size", 30, 25 );
            display: flex;
          }
          .bi-check2:hover
          {
            @include adaptiv-value("font-size", 34, 28 );
            transition-duration: 0.2s;
          }
          .bi-x
          {
            width: 5%;
            color: #d5d2d2;
            @include adaptiv-value("font-size", 37, 24 );
          }
          .bi-x:hover
          {
            @include adaptiv-value("font-size", 40, 28 );
            transition-duration: 0.2s;

          }
        }
      }
    }
    .check-strings
    {
      width: 100%;
      height: 24.7%;
      display: flex;
      justify-content: space-between;

      .check-strings-text
      {
        color:#bdb9b9;
        @include adaptiv-value("font-size", 14, 12 );
        @include adaptiv-value("margin-bottom", 15, 5 );

      }
      .statistic-line-check-strings
      {
        @include adaptiv-value("height", 17, 13 );
        width: 100%;
        background: #eaeaea;
        border-radius: 8px;
      }


      .hosting-usage
      {
        width: 45%;
        background: #ffffff;
        border-radius: 5px;
        padding: 15px 20px;

        .hosting-usage-number
        {
          color:#ff503f;
          @include adaptiv-value("font-size", 25, 22 );
          font-weight: bold;
          margin: 0;
        }

        .hosting-progress
        {
          height: 100%;
          width: 57%;
          border-radius: 20px;
          background: #ff503f;
        }
      }

      .emails-read
      {
        width: 45%;
        background: #ffffff;
        border-radius: 5px;
        padding: 15px 20px;

        .emails-read-number
        {
          color:#fdce56;
          @include adaptiv-value("font-size", 25, 22 );
          font-weight: bold;
          margin: 0;
        }

        .emails-progress
        {
          height: 100%;
          width: 57%;
          border-radius: 20px;
          background: #fdce56;
        }
      }
    }
  }
  .right-boxes
  {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .weather {
      width: 100%;
      height: 25.6%;
      background: #3bafda;
      border-radius: 7px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @include adaptiv-value("padding-right", 40, 20 );
      @include adaptiv-value("padding-left", 10, 5 );



      .sun {
        color:#f5f5f5;
        @include adaptiv-value("font-size", 80,70 );
        @include adaptiv-value("padding-left",0, 10 );

      }

      .temperature {
        display: flex;
        flex-direction: row;

        .temperature-number {
          color:#f5f5f5;
          @include adaptiv-value("font-size",60, 50 );
          margin-top: 13px;
          padding-left: 7px;
        }

        .circle {
          position: relative;
          display: flex;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          border-width: 3.5px;
          border-style: solid;
          border-color: #f5f5f5;
          margin-top: 35px;
        }
      }
      .weather-geolocation
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:10px ;

        .geolocation
        {
          display: flex;
          flex-direction: row;
          color:#f5f5f5;

          .city
          {
            margin-bottom: 0;
            font-weight: bold;
            padding-right: 8px;
            padding-left: 10px;
          }

          .bi-geo-alt-fill
          {
            margin: 0;
          }
        }

        .weather-description
        {
          color: #f5f5f5;
          font-weight: bold;
          padding-left: 10px;
        }
      }
    }



    .calendar
    {
      width: 100%;
      height: 66.4%;
      background: #ffffff;
      border-radius: 7px;

      .calendar-header
      {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 20%;
        background: #fbfbfb;
        border-radius: 7px;
        padding: 0 30px;

        #calendar-right-chevron,.bi-chevron-left
        {
          color: #7c95be;
          @include adaptiv-value("font-size",30 ,25 );
          @include adaptiv-value("width",40 ,30 );
          @include adaptiv-value("height",40 ,30 );
          padding: 0;
          cursor: pointer;
          text-align: center;
          @include adaptiv-value("line-height",40 ,25 );
          border-radius: 50%;
        }

        #calendar-right-chevron:hover,.bi-chevron-left:hover
        {
          background: #dedada;
        }


        .today-data
        {
          margin: 0;
          color: #7c95be;
          @include adaptiv-value("font-size",25 ,22 );
          font-weight: bold;
        }
      }
      .calendar-body
      {
        @include adaptiv-value("padding-left",20 ,10 );
        @include adaptiv-value("padding-right",20 ,10 );
        @include adaptiv-value("font-size",25 ,22 );

      }

      .calendar-body ul
      {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        color: #7c95be;
        padding-left: 0;
        padding-top: 5px;
        @include adaptiv-value("font-size",17 ,14 );

      }
      .calendar-body ul li
      {
        display: flex;
        justify-content: center;
        width: calc(100% / 7);
        color: #7c95be;
        font-weight: 500;
        @include adaptiv-value("font-size",17 ,14 );
        border-radius: 50%;
      }

      .calendar-body .days li:hover
      {
        color:#312f2f;
      }


      .calendar-body .weeks li
      {
        font-weight: 700;
      }

      .events p
      {
        color:#7c95be
      }

      .events
      {
        padding-bottom:  40px;
        @include adaptiv-value("padding-right",20 ,10 );
        @include adaptiv-value("padding-left",30 ,20 );
        display: flex;
        flex-direction: column;


        .first-event, .second-event
        {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @include adaptiv-value("font-size",17 ,12 );

          .event-text
          {
            margin: 0;
          }


          .event-time
          {
            display: flex;
            justify-content: center;
            @include adaptiv-value("height",25 ,16 );
            @include adaptiv-value("width",60 ,40 );
            min-height:16px ;
            background: #7c95be;
            border-radius:20px;
            color: #ffffff;
          }
        }
      }
    }
  }
}


.bottom-boxes
{
  display: flex;
  justify-content: space-between;
  width:100%;
  @include adaptiv-value("height",320 ,250 );
  margin-top: 40px;

  .notification-header,.data-graph-header
  {
    width:100%;
    height: 19.5%;
    background: #fafafa;
    color: #a2a0a0;
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #setting-notification,#setting-data-graph
    {
      @include adaptiv-value("font-size",27,22 );
    }
    #setting-notification:hover, #setting-data-graph:hover
    {
      @include adaptiv-value("font-size",30,25 );
      transition-duration: 0.2s;
    }
    #notification-header-text,#data-graph-header-text
    {
      margin: 0;
      @include adaptiv-value("font-size",23,21 );

    }
  }
  .notification-box
  {
    width:63%;
    height: 100%;
    background: #ffffff;
    border-radius: 7px;

    .notification-body
    {
      width: 100%;
      height: 80.5%;
      @include adaptiv-value("padding",20 ,10 );

      .notification-blocks
      {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0;

        .notification-block
        {
          width: 100%;
          height: 22.3%;
          display: flex;
          flex-direction: row;

        }
      }

      .notification-icon
      {
        width: 15%;

        .circle-twitter-notification,.circle-mail-notification,.circle-dollar-notification
        {
          display: flex;
          justify-content: center;
          align-items: center;
          @include adaptiv-value("height",55 ,43 );
          @include adaptiv-value("width",55 ,43 );
          min-width: 40px;
          border-radius: 50%;


          .twitter-notification-box, .mail-notification-box, .dollar-notification-box
          {
            position: relative;
            color:#f4f4f5;
            @include adaptiv-value("width",47 ,37 );
            @include adaptiv-value("height",47 ,37 );
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 26px;
            @include adaptiv-value("font-size",30 ,25 );
            bottom:13px;
          }
          .twitter-notification-box
          {
            background: #66b7f0;
          }
          .mail-notification-box
          {
            background: #f5bb42;
          }
          .dollar-notification-box
          {
            background: #a5c562;
          }
        }
        .circle-twitter-notification
        {
          background: #eef7fd;
        }
        .circle-mail-notification
        {
          background: #fef6e4;
        }
        .circle-dollar-notification
        {
          background: #edf3df;
        }
      }



      .notification-text-block
      {
        width: 100%;
        @include adaptiv-value("height",55 ,45 );
        border-radius: 10px;

        .notification-text
        {
          color: #f6f6f6;
          @include adaptiv-value("font-size",16 ,11.4 );
          font-weight: bolder;
          position: relative;
          bottom:3px;
          right: 15px;

        }

        .bi-caret-left-fill
        {
          margin-top: 10px;
          @include adaptiv-value("font-size",30 ,25 );
          position: relative;
          @include adaptiv-value("right",20 ,14 );
          top:3px;
        }
        #twitter-text-icon
        {
          color: #8ac6f0;
        }
        #mail-text-icon
        {
          color:#f2ca79;
        }
        #dollar-text-icon
        {
          color: #b5d07e;
        }
        .notification-text
        {
          width: 90%;

        }
      }
      #twitter-text
      {
        background: #8ac6f0;

      }
      #mail-text
      {
        background: #f2ca79;
      }
      #dollar-text
      {
        background: #b5d07e;
      }
    }
  }

  .data-graph
  {
    width: 33%;
    height: 100%;
    background: #ffffff;
    border-radius: 15px;

    .data-graph-body
    {
      width: 100%;
      height: 80.5%;
      display: flex;
      flex-direction: column;

      .data-graph-main-chart
      {
        width: 100%;
        height: 58.5%;
        background: #9972b5;
        padding: 0 10px;

        .data-graph-main-chart-text
        {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .data-graph-main-chart-number
          {
            color: #ffffff;
            @include adaptiv-value("font-size",17 ,15 );

          }
          .data-graph-main-chart-day
          {
            color: #ffffff;
            @include adaptiv-value("font-size",17 ,15 );

          }
        }
      }

      .data-graph-bottom
      {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include adaptiv-value("padding",25 ,15 );

        .total-earned
        {
          display: flex;
          flex-direction: column;
          width:60%;
          height: 100%;

          .total-earned-number
          {
            margin: 0;
            @include adaptiv-value("font-size",25 ,19 );
            font-weight: bold;
            color: #5f5f5f;
          }
          .total-earned-text
          {
            margin: 0;
            @include adaptiv-value("font-size",18 ,15 );
            color: #7f7777;
          }

        }
        .small-chart
        {
          width:40%;
          height: 90%;
        }
      }
    }
  }
}

